/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/bin/

/src/main/java/com/kristurek/leetcode/temp/*.*
/src/test/java/com/kristurek/leetcode/temp/*.*

